<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ .Title }}</title>
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
	<link type="text/css" rel="stylesheet" href="{{ "css/style.css" | relURL }}">
	<link type="text/css" rel="stylesheet" href="{{ "katex/katex.min.css" | relURL }}">
	<link type="text/css" rel="stylesheet" href="{{ "fonts/nunito_sans/nunito_sans.css" | relURL }}">
	<link type="text/css" rel="stylesheet" href="{{ "fonts/open_sans/open_sans.css" | relURL }}">
  <link type="text/css" rel="stylesheet" href="{{ "fonts/fontawesome/css/all.css" | relURL }}">
  <script src="{{ "katex/katex.min.js" | relURL }}"></script>

  <link rel="icon" type="image/svg" href="{{ "img/qsa-icon.svg" | relURL }}"/>
  <link rel="shortcut icon" type="image/svg" href="{{ "img/qsa-icon.svg" | relURL}}"/>
</head>
<body>
	{{ partial "header" . }}
	{{ block "main" . }}{{ end }}
  {{ partial "footer" . }}
</body>
</html>
